#main-nav{
    position:relative;
    height:70px;
    margin-bottom:50px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.05);
    background-color:#fff;
    .logo {
        margin:2px 0 0 30px;
        max-height:100%;
    }
    .btn-link-rtn {
        display:block;
        height:70px;
        line-height:65px;
        position: absolute;
        color: #6C707A;
        font-size: 14px;
        top:0;
        right: 20px;
        text-decoration: none;
    }
}